
num.txt
Sudoku.lp
sudoku.txt
WhiskasModel.lp
WhiskasModel.lp
Maze problem/__pycache__/generic_search.cpython-39.pyc
Maze problem/__pycache__/generic_search.cpython-39.pyc
Maze problem/__pycache__/generic_search.cpython-39.pyc
Maze problem/__pycache__/generic_search.cpython-39.pyc
*.pyc
